@import "tailwindcss";


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

#mainbody
{
  background-image: url('../public/assets/bgcity.png'), url("../public/assets/bg.png");
  background-size: cover;
}

@keyframes cityScroll
{
  from {
    background-position: 0 0;
  }

  to {
    background-position: -100% 0;
  }
}



