---
import ComingSoon from "@/components/ComingSoon.astro";
import PearTest from "@/components/PearTest.astro";

// Component Script (JavaScript)
---
<div id="main" class="w-screen h-screen flex justify-center items-center">
   <div class="flex flex-col justify-center items-center">
      <img src="src/assets/maiscore.png" width="35%"/>
   </div>
   
</div>